.gallery {
  padding: 20px;
  padding-left: 0;
}

.gallery ul {
  display: flex;
  flex-direction: row;
}

.gallery ul li {
  margin-left: 25px;
}

.gallery ul li:first-child {
  margin-left: 0px;
}

.gallery ul li a img {
  border: 6px solid #fff;
  border-radius: 15px;
}

.gallery img {
  margin-left: 1.25rem;
  width: 80%;
  height: auto;
  display: block;
}