@import url('reset.css');
@import url('global.css');
@import url('componentes/_navigator.css');
@import url('componentes/_pills.css');
@import url('componentes/_link-button.css');
@import url('componentes/_gallery.css');

.s-wrapper {
  display: flex;
  height: 100%;
  flex-flow: row nowrap;
  background-color: #f00;
}

.s-wrapper .s-left-column {
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 50px;
  left: 0;
  top: 0;
  z-index: 1;
}

.s-wrapper .s-main-content {
  min-height: 100vh;
  height: auto;
  width: 100%;
  padding-left: 130px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.s-wrapper .s-main-content__top {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.s-wrapper .s-main-content .s-logo img {
  margin-top: 50px;
  margin-left: 0;
  margin-bottom: 30px;
}

.s-wrapper .s-main-content__top .s-description {
  background-color: rgba(0, 0, 0, .7);
  max-width: 50%;
  padding: 20px;
  border-radius: 10px;
  margin-left: 30px;
}

.s-wrapper .s-main-content__top .s-description__text p {
  color: #fff;
  line-height: 170%;
}

.s-wrapper .s-main-content__top .s-description .pills {
  margin-bottom: 20px;
}

.s-wrapper .s-main-content .s-links {
  padding: 20px;
  padding-left: 0;
}

.s-wrapper .s-main-content .s-links ul {
  display: flex;
  flex-direction: row;
}

.s-wrapper .s-main-content__bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: auto;
  padding-bottom: 20px;
}

.s-spiderman-01-01 { 
  background-image: url('../images/spiderman-tobey/movie-01/background.png');
  background-size: cover;
}

.s-spiderman-01-02 { 
  background-image: url('../images/spiderman-tobey/movie-02/background.png');
  background-size: cover;
}

.s-spiderman-01-03 { 
  background-image: url('../images/spiderman-tobey/movie-03/background.png');
  background-size: cover;
}

.s-spiderman-02-01 {
  background-image: url('../images/spiderman-andrew/movie-01/background.png');
  background-size: cover;
}

.s-spiderman-02-02 {
  background-image: url('../images/spiderman-andrew/movie-02/background.png');
  background-size: cover;
}

.s-spiderman-03-01 {
  background-image: url('../images/spiderman-tom/movie-01/background.png');
  background-size: cover;
}

.s-spiderman-03-02 {
  background-image: url('../images/spiderman-tom/movie-02/background.png');
  background-size: cover;
}

.s-spiderman-03-03 {
  background-image: url('../images/spiderman-tom/movie-03/background.png');
  background-size: cover;
}