@import url(reset.css);

.detail-container {
    height: 100vh;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    background-color: #f6f8fc;
}

.top-section {
    height: 55%;
    position: relative;
    padding: 2rem 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.pokemon-name {
    margin-top: 3.5rem;
    font-size: 2.5rem;
    text-transform: capitalize;
}

.pokemon-number {
    margin-top: 4rem;
    font-size: 2rem;
    opacity: 0.3;
}


.pokemon-image {
    width: 300px;
    height: auto;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    z-index: 2;
}

.bottom-section {
    position: absolute;
    top: 45%;
    width: 100%;
    height: 65%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background-color: #a09d9d;
    padding: 4rem 1.5rem 2rem;
    z-index: 1;
    text-align: center;
}

.pokemon-info h1 {
    font-size: 2.5rem;
    text-transform: capitalize;
}

.pokemon-info p {
    font-size: 1.8rem;
    margin: 0.5rem 0;
}

